[DEFAULT]
devices = /srv/node
bind_ip = {{ hostvars[ansible_hostaname]['ansible_' + iface].ipv4.address }}
workers = 2

[pipeline:main]
pipeline = account-server

[app:account-server]
use = egg:swift#account
replication_server = True

[account-replicator]

[account-auditor]

[account-reaper]
